upstream django_{{ project_name }} {
    server                  unix:///tmp/uwsgi.sock;
}

server {
    listen                  80;

    charset                 utf-8;
    server_tokens           off;

    server_name             {% for name in nginx.servernames %}{{name}} {%endfor%};


    access_log              {{ project_root }}/logs/nginx.access.{{ ansible_fqdn }}.log;
    error_log               {{ project_root }}/logs/nginx.error.{{ ansible_fqdn }}.log;

    expires modified        -1d;

    rewrite                 ^/(.*)/favicon.ico$ /favicon.ico last;

    location /static {
        alias {{ django.root }}/test_project/static/;
        expires 1M;
        autoindex off;
        access_log off;
        add_header Cache-Control "public";
    }
    location /media {
        alias {{ django.root }}/test_project/media/;
        expires 10d;
        autoindex off;
        access_log off;
        add_header Cache-Control "public";
    }

    location / {
        proxy_read_timeout          300;
        proxy_connect_timeout       300;
        proxy_redirect              off;

        proxy_set_header            X-Forwarded-Proto $scheme;
        proxy_set_header            Host              $http_host;
        proxy_set_header            X-Real-IP         $remote_addr;

        uwsgi_pass                  django_{{ project_name }};
        include                     /etc/nginx/uwsgi_params;
    }

}
